<div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Dashboard Note App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" role="search" action="/dashboard/search">
                <input name="SearchTerm" class="form-control border-primary" type="search" placeholder="Search" aria-label="Search">
              </form>
            <form class="d-flex" role="search">
              <a href="/logout" class="btn btn-outline-primary" type="submit">Logout</a>
            </form>
          </div>
        </div>
      </nav>
</div>